<a href="https://colab.research.google.com/github/aryan4avj/Angular-CRUD--Customer-Portal/blob/master/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/Invoice Project/H2HBABBA3043.csv')

df.head()

  business_code cust_number  ...    invoice_id isOpen
0          U001  0200772595  ...  1.928782e+09      0
1          U001  0200129450  ...  1.930394e+09      0
2          U001      CCU013  ...  1.928681e+09      0
3          U001  0200739534  ...  1.930180e+09      0
4          U001  0200706844  ...  1.930718e+09      1

[5 rows x 19 columns]

In [3]:
df.columns

Index(['business_code', 'cust_number', 'name_customer', 'clear_date',
       'buisness_year', 'doc_id', 'posting_date', 'document_create_date',
       'document_create_date.1', 'due_in_date', 'invoice_currency',
       'document type', 'posting_id', 'area_business', 'total_open_amount',
       'baseline_create_date', 'cust_payment_terms', 'invoice_id', 'isOpen'],
      dtype='object')

In [4]:
df.describe()

       buisness_year        doc_id  ...    invoice_id        isOpen
count   50000.000000  5.000000e+04  ...  4.999800e+04  50000.000000
mean     2019.301960  2.009702e+09  ...  2.009402e+09      0.200000
std         0.459113  2.776619e+08  ...  2.735961e+08      0.400004
min      2019.000000  1.928502e+09  ...  1.928502e+09      0.000000
25%      2019.000000  1.929338e+09  ...  1.929338e+09      0.000000
50%      2019.000000  1.929952e+09  ...  1.929952e+09      0.000000
75%      2020.000000  1.930612e+09  ...  1.930611e+09      0.000000
max      2020.000000  9.500000e+09  ...  2.960635e+09      1.000000

[8 rows x 11 columns]